.env
__pycache__
.venv
.vscode
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
dist
build
*.egg
*.whl
*.DS_Store
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.ipynb_checkpoints
*.idea
*.swp
*.bak
*.orig
*.tmp
*.out
*.pid
*.seed
*.coverage.xml
*.coverage.*
*.cache
*.pkl
*.dat
*.json
*.csv
*.xml
*.yaml      